@use '../../components/Styles/abstracts';

.job-form {
    margin-top: 32px;

    @include abstracts.screen(md) {
        margin-top: 16px;
    }

    &__heading {
        font-size: 2.4rem;
        font-weight: 500;

        color: #0054a6;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        gap: 80px;

        margin-top: 20px;

        @include abstracts.screen(lg) {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;
        }
    }
}

.form {
    &__group {
        min-width: 438px;

        @include abstracts.screen(xxl) {
            min-width: 338px;
        }

        @include abstracts.screen(xl) {
            min-width: 258px;
        }

        @include abstracts.screen(lg) {
            min-width: 100%;
        }
    }

    &__label {
        // margin-top: 20px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.31;
        color: #4d4d4d;

        @include abstracts.screen(md) {
            font-size: 1.2rem;
        }
    }

    &__input {
        margin-top: 8px;
        padding: 10px 19px;
        width: 100%;

        border-radius: 8px;
        background: #fff;
        line-height: 1.31;

        @include abstracts.screen(md) {
            padding: 8px;
            border-radius: 4px;
        }

        &::placeholder {
            color: #a3a3a3;

            @include abstracts.screen(md) {
                font-size: 1.2rem;
            }
        }
    }

    &__group--radius {
        display: flex;
        align-items: center;
        margin-top: 8px;
        gap: 28px;
    }

    &__group--check {
        display: flex;
        align-items: center;
        gap: 16px;

        @include abstracts.screen(md) {
            gap: 4px;
        }
    }

    &__textarea {
        min-width: 954px;
        min-height: 151px;
        margin-top: 8px;
        padding: 10px 16px;

        border-radius: 8px;
        background: #fff;
        resize: none;
        line-height: 1.31;

        @include abstracts.screen(xxl) {
            min-width: 760px;
            min-height: 151px;
        }

        @include abstracts.screen(xxl) {
            min-width: 580px;
            min-height: 151px;
        }

        @include abstracts.screen(lg) {
            min-width: 560px;
        }

        @include abstracts.screen(md) {
            min-width: 310px;
        }

        &::placeholder {
            color: #a3a3a3;

            @include abstracts.screen(md) {
                font-size: 1.2rem;
            }
        }
    }

    &__btn {
        margin-top: 20px;
        // margin-left: auto;

        @include abstracts.screen(md) {
            margin-top: 12px;
            width: 100%;
        }
    }
}
