@use '../../components/Styles/abstracts';

.postitem {
    background-color: #fff;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    &__img-wrap {
        position: relative;
        width: 100%;
        padding-top: 54%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
    }

    &__info {
        padding: 24px 16px 28px;

        @include abstracts.screen(md) {
            padding: 8px 16px 22px;
        }
    }

    &__label {
        display: flex;
        align-items: center;

        gap: 4px;
    }

    &__host {
        font-size: 1.8rem;
        font-weight: 400;

        color: #858585;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__active {
        width: 8px;
        height: 8px;
        border-radius: 50%;

        background: #03a600;
    }

    &__title {
        margin-top: 12px;

        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1;

        color: #0054a6;

        @include abstracts.screen(md) {
            margin-top: 4px;
            font-size: 1.6rem;
        }
    }

    &__desc {
        margin-top: 12px;

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.31;

        color: #666666;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        overflow: hidden;

        @include abstracts.screen(md) {
            margin-top: 4px;
            font-size: 1.4rem;
        }
    }

    &__tags {
        display: flex;
        align-items: center;

        margin-top: 28px;

        gap: 8px;

        @include abstracts.screen(md) {
            margin-top: 12px;
            gap: 4px;
        }
    }

    &__tag {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 8px 12px;

        font-size: 1.4rem;
        font-weight: 600;

        border-radius: 46px;
        background: #e6eef7;

        color: #0054a6;

        @include abstracts.screen(md) {
            font-size: 1.2rem;
        }
    }

    &__data {
        display: flex;
        align-items: center;
        margin-top: 8px;
        gap: 8px;

        color: #858585;
    }

    &__view {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.31;

        color: #858585;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__dot {
        height: 3px;
        width: 3px;
        border-radius: 50%;

        background: #858585;
    }
}

// ------------ mini card custom ---------------------------------------

.postcard--mini {
    border-radius: 8px;

    &__img-wrap {
        padding-top: 57%;
    }

    &__img {
        border-radius: 8px 8px 0 0;
    }

    &__info {
        padding: 12px;

        // @include abstracts.screen(md) {
        //     padding: 8px 16px 22px;
        // }
    }

    &__label {
        display: flex;
        align-items: center;

        gap: 4px;
    }

    &__host {
        font-size: 1.4rem;
        font-weight: 400;

        color: #858585;

        // @include abstracts.screen(md) {
        //     font-size: 1.4rem;
        // }
    }

    &__active {
        width: 6px;
        height: 6px;
        border-radius: 50%;

        background: #03a600;
    }

    &__title {
        margin-top: 8px;

        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.1;

        color: #0054a6;

        // @include abstracts.screen(md) {
        //     margin-top: 4px;
        //     font-size: 1.6rem;
        // }
    }

    &__tags {
        margin-top: 8px;

        gap: 4px;

        // @include abstracts.screen(md) {
        //     margin-top: 12px;
        //     gap: 4px;
        // }
    }

    &__tag {
        font-size: 1.2rem;

        // @include abstracts.screen(md) {
        //     font-size: 1.2rem;
        // }
    }

    &__view {
        font-size: 1.4rem;

        // @include abstracts.screen(md) {
        //     font-size: 1.4rem;
        // }
    }
}
